<%- include("./partials/header")%>
<div class="col d-flex justify-content-center">
         <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="<%=movie.Poster%>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=movie.Title%></h5>
    <div class="card-text">Year : <%=movie.Year%></div>
    <div class="card-text">Languages : <%=movie.Language%></div>
    <div class="card-text">Plot : <%=movie.Plot%></div>
    <div class="card-text">Awards : <%=movie.Awards%></div>
    <div class="card-text">Production : <%=movie.Production%></div>
    <div class="card-text">Year : <%=movie.Year%></div>
    <div class="card-text">Year : <%=movie.Year%></div>
  </div>
</div>
</div>
    <%-include("./partials/footer")%>