<%- include("./partials/header")%>
<% if(movieData.Response==='False'){%>
   <h1> Movie not found !! </h1>
   <% } else{ %>
   <h1> results are: </h1>
   <br>
   <div class="row">  
        <% movieData['Search'].forEach(function(movie) { %>
          <div class="col-sm-3"> 
         <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="<%=movie.Poster%>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=movie.Title%></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/result/<%=movie.imdbID%>" class="btn btn-primary">Know more about movie</a>
  </div>
</div>
 </div>
        <% });} %>
</div>
<%-include("./partials/footer")%>
